{% extends 'base.html' %}


{% block content%}
    <h1>about us page !!  {{user}}</h1>
    <div class="card">
        <img src="dina.jpg" alt="dina" style="width:100%">
        <h1>Dina Shboul</h1>
        <p class="title">Computer Engineering</p>
        <p>Yarmouk University</p>
        
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        
        <p><button>Contact</button></p>

      </div>
{% endblock content%}    